{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Mercatítulo - Compra y vende derechos fiduciarios de los mejores proyectos inmobiliarios en Colombia{% endblock %}

{% block content %}
    <!-- Slider -->
    <section id="slider" class="slider parallax animated" data-animation="fadeIn" data-animation-delay="400" data-speed="6">
        <div class="container">
            <div class="row">
      <div class="col-sm-5 pull-left clearfix maincopy">
        <h2>Compra y vende derechos fiduciarios de los mejores proyectos inmobiliarios en Colombia</h2>
      </div>
                <div class="col-sm-5 pull-right clearfix">
                    <div class="contform animated" data-animation="fadeInRightBig" data-animation-delay="600">
                        <h3 class="text-center">SUSCRÍBETE Y RECIBE NOTICIAS Y OFERTAS SOBRE DERECHOS FIDUCIARIOS</h3>
                        <div class="inner">
                        <form id="suscribe-form" action="register.php" role="form">
                            <div class="form-group">
                                <label>Nombre <em>*</em></label>
                                <input name="name" class="form-control input-lg" type="text">
                            </div>
                            <div class="form-group">
                                <label>Correo electrónico <em>*</em></label>
                                <input name="email" class="form-control input-lg" type="email">
                            </div>
                            <div class="form-group">
                                <label>Teléfono <em>*</em></label>
                                <input name="tel" class="form-control input-lg" type="text">
                            </div>
                            <!-- Indicates caution should be taken with this action -->
                            <button type="submit" class="btn btn-info btn-lg" ><i class="icon-paper-plane"></i>SUSCRIBIRME</button>
                        </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
    <!-- End Slider -->	
	<section id="gallery" class="generic">
		<div class="container">
			<h2 class="section-title animated" data-animation="flipInX" data-animation-delay="200">Derechos fiduciarios</h2>	
			<div id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						¿Qué son los derechos fiduciarios?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			    	<p>Son títulos que pequeños inversionistas, pueden adquirir a manera de derechos sobre una propiedad o proyecto inmobiliario de gran magnitud en Colombia.</p>
			    	<p>Los derechos fiduciarios son participaciones en un fideicomiso (Patrimonio Autónomo administrado por una Sociedad Fiduciaria autorizada por la Superintendencia Financiera), que le permiten ser propietario de una parte de un proyecto inmobiliario.</p>
			    	<p>Para adquirirlos típicamente se hace una inversión inicial y posteriormente, realizar pagos mensuales durante la construcción del proyecto. Cuando el inmueble se haya terminado, se inicia la etapa de explotación del proyecto de propiedad del fideicomiso. El producto de esa misma explotación (renta) se distribuye entre los titulares de derechos fiduciarios en proporción a su participación.</p>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          ¿Cómo funcionan los derechos fiduciarios?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					<p>El promotor aporta la propiedad donde se construye el proyecto al fideicomiso y hace las gestiones necesarias para arrancar el proyecto.</p>
					<p>Al mismo tiempo, vincula al fideicomiso a los fideicomitentes (los que adquieren derechos fiduciarios), quienes entregan el dinero acordado en el presupuesto a la entidad fiduciaria para que sean administrados de manera independiente mediante una inversión en una cartera colectiva administrada por la fiduciaria de acuerdo con las normas vigentes y bajo la supervisión de la Superintendencia Financiera.</p> 
					<p>Los dineros entregados por los fideicomitentes, sólo se utilizan para el proyecto, sujeto a que se cumplan las condiciones establecidas en el contrato de fiducia (contrato que constituye el fideicomiso). Estas condiciones incluyen estudios de escrituras, títulos y demás documentos del lote, los permisos y licencias entre otras.</p>  
					<p>Al finalizar el proyecto, se da inicio a la fase de explotación comercial de los inmuebles resultantes, y los partícipes del fideicomiso empezarán a recibir (en la periodicidad acordada) las rentas derivadas en proporción a su participación en el patrimonio autónomo, previo descuento de los costos de administración y reservas (impuestos prediales, seguros, mantenimiento).</p>
					<p>El fideicomitente no se preocupará por temas administrativos, siendo el fideicomiso quien los gestione con los recursos de la explotación del inmueble.</p>
					<p>Simultánea a la construcción del proyecto, el promotor prepara la operación, buscando marcas y empresas para promover y comercializar el inmueble.</p>
					<p>Los derechos fiduciarios no son una inversión financiera, por lo que no se puede garantizar una rentabilidad, ni su redención en un plazo determinado. La rentabilidad dependerá del desempeño del activo inmobiliario.</p>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          ¿Cuáles son los riesgos y beneficios de los derechos fiduciarios?
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					<p>Obviamente, los derechos fiduciarios tienen riesgos y beneficios que hay que considerar antes de realizar la inversión:</p>
					<p>- La inversión permite ahorrar trámites, impuestos y registros que típicamente se originan en la compra y venta de inmuebles. Los inversionistas se evitan las gestiones de administración del inmueble, el pago de sus impuestos prediales, y la cancelación de los servicios públicos, los cuales paga el fideicomiso.</p>
					<p>- En caso de que no se cumplan las condiciones para dar inicio al proyecto, y no se alcanzara mínimamente el punto de equilibrio, los fideicomitentes recibirán de regreso sus recursos, incluyendo los rendimientos generados por su inversión en la cartera colectiva de la fiduciaria.</p>
					<p>- Los títulos se pueden ceder y heredar entre partícipes, previa diligencia y registro del nuevo fideicomitente en la fiduciaria. Mercatítulo le ayuda a adquirir o vender su derecho fiduciario. Si desea más información sobre los derechos fiduciarios, por favor regístrese en nuestra página web. 
					</p>
			    </div>
			  </div>
			</div>    				   			
		</div>
	</section>
    
{% endblock %}    