{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Mercatítulo - Compra y vende derechos fiduciarios de los mejores proyectos inmobiliarios en Colombia{% endblock %}

{% block content %}
        <!-- Slider -->
        <section id="slider" class="slider parallax animated" data-animation="fadeIn" data-animation-delay="400" data-speed="6">
            <div class="container">
                <div class="row">
          <div class="col-sm-5 pull-left clearfix maincopy">
            <h2>Compra y vende derechos fiduciarios de los mejores proyectos inmobiliarios en Colombia</h2>
          </div>
                    <div class="col-sm-5 pull-right clearfix">
                        <div class="contform animated" data-animation="fadeInRightBig" data-animation-delay="600">
                            <h3 class="text-center">SUSCRÍBETE Y RECIBE NOTICIAS Y OFERTAS SOBRE DERECHOS FIDUCIARIOS</h3>
                            <div class="inner">
                            <form id="suscribe-form" action="register.php" role="form">
                                <div class="form-group">
                                    <label>Nombre <em>*</em></label>
                                    <input name="name" class="form-control input-lg" type="text">
                                </div>
                                <div class="form-group">
                                    <label>Correo electrónico <em>*</em></label>
                                    <input name="email" class="form-control input-lg" type="email">
                                </div>
                                <div class="form-group">
                                    <label>Teléfono <em>*</em></label>
                                    <input name="tel" class="form-control input-lg" type="text">
                                </div>
                                <!-- Indicates caution should be taken with this action -->
                                <button type="submit" class="btn btn-info btn-lg" ><i class="icon-paper-plane"></i>SUSCRIBIRME</button>
                            </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </section>
        <!-- End Slider -->
        <section id="compra-venta">
            <div class="container">
                <div class="btnactionwrapper comprabtnwrapper col-lg-6">
                    <a href="comprar/1" class="col-lg-12 btn btn-info btn-lg">Quiero Comprar Derechos Fiduciarios</a>
                </div>
                <div class="btnactionwrapper ventabtnwrapper col-lg-6">
                    <a href="/vender/vender-derecho-fiduciario/" class="col-lg-12 btn btn-info btn-lg">Quiero Vender Derechos Fiduciarios</a>
                </div>                
            </div>
        </section>
        <section id="gallery" class="generic">
            <div class="container">
            {% if content %}
                <h2 class="section-title animated" data-animation="flipInX" data-animation-delay="200">Estos son los mejores derechos fiduciarios inmobiliarios en Colombia</h2>
                {% for proyectos in content %}
                    <div class="col-sm-4 item">
                        <div class="content animated" data-animation="pulse" data-animation-delay="400">
                            <figure>
                                <img src="{{ proyectos.imagen.url }}" alt="Derechos_Fiduciarios_Aeropuerto_Business_Hub_Prodigy">
                            </figure>
                            <h4 class="text-center">{{ proyectos.nombre }}</h4>
                            <p class="text-center">{{ proyectos.descripcion }}</p>
                            <p><a class="btn btn-info" href="comprar/{{ proyectos.id }}">Comprar</a><a class="btn btn-info" href="proyectos/{{ proyectos.machineName }}">Leer más</a></p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="section-title animated" data-animation="flipInX" data-animation-delay="200">No hay titulos disponibles</h2>
            {% endif %}
            </div>
        </section>
{% endblock %}
