/* ==========================================================================
 Media Queries
 ========================================================================== */

@media handheld, only screen and (max-width: 1124px) {

}


/* ---------------------------------------------------------------------- */
/*	Version 1024px
 /* ---------------------------------------------------------------------- */
@media handheld, only screen and (max-width: 1024px) {

}

@media handheld, only screen and (max-width: 950px) {
}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 767px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 767px) {
	footer h5 {
		text-align: center;
	}
	footer .social{
		margin: 30px 0 0 0;
		text-align: center;
	}
	header .navbar-nav > li > a {
	    background: none repeat scroll 0 0 #EFEFEF;
	    border-radius: 3px 3px 3px 3px;
	    color: #666666 !important;
	    font-size: 12.5px;
	    line-height: normal;
	    margin: 0;
	    padding: 6px 25px;
	}
	header .navbar-nav {
		float: none;
		text-align: left;
	}
	header .navbar-nav > li > a {
		text-align: center;
	}	
	.navbar-nav {
		padding: 5px 0 0 0;
	}
	.navbar-nav > li {
		display: block;
		float: none;
		font-size: 15px;
		width: 100%;
		margin-bottom: 2px;
		 margin: 0 0 2px;
	}
	.navbar-collapse {
		border: 0 !important;
		margin-top: 5px;
	}
	.slider .clearfix{
		padding: 0;
	}
	.section-title {
		text-align: center;
	}
	.section-title:after,.widget-title:after{
		margin: 15px auto 0 auto;
		position: inherit;
	}
	.newsletter {
		text-align: center;
	}
	.newsletter .fields h3 {
		font-size: 1.6em;
		text-align: center;
	}
	.newsletter .fields input.btn {
		font-size: 1em;
		padding: 10px 15px;
	}
}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 600px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 600px) {
	#logo img {
		max-width: 190px;
	}
}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 568px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 568px) {	

}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 480px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {
	.separator{
		padding: 0 60px;
	}
	.newsletter .fields input.form-control {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 10px;
	}

	
}

/* ---------------------------------------------------------------------- */
/*	Mobile Version 420px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 480px) {

	.slider-countdown {
		background-size: 2380px;
		height: 1010px;
	}
}
/* ---------------------------------------------------------------------- */
/*	Mobile Version 320px
 /* ---------------------------------------------------------------------- */

@media handheld, only screen and (max-width: 320px) {

	.contform{
		padding: 15px 20px 36px 20px;
	}
	#gallery .item{
		padding: 0 30px 0 15px;
	}

}
