@charset "utf-8";
/***************************************************************************/
/********************************  $Content  *******************************/
/**
* + Content
* + Imports Fonts and Icons
* + General Tags
* + Header
* + Slider
* + Form
* + Gallery
* + Partners
* + Footer
* + Tooltip
* + Parallax
* + Video
* + Countdown
* + Newsletter
* + Gmap
* + Animate Itemas on Start
* + Menu Effect
*/
/* ---------------------------------------------------------------------- */
/*	Import styles
 /* ---------------------------------------------------------------------- */

/* Bootstrap.css  - include resetes ( Media querys, grid-responsive,layout).*/
@import url("bootstrap/bootstrap.css");
/*Google Fonts*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
/*countdown*/
@import url("clock/main.css");
/*Responsive */
@import url("media-queries.css");


/*******************************  $General Tags  *******************************/
html {
	font-size: 100%;
	min-width: 318px;
}
body {
	font-family: 'lato', sans-serif;
	color: #fff;
	overflow-x: hidden;
}
body > section {
    overflow: hidden;
}
a, a:hover, a:active {
	outline: 0 !important;
	-webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
a:hover{
	color: #148FEE!important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
	font-family: 'lato', sans-serif;
}
h2{
	color: #696969;
	font-size: 26px;
  margin: 20px 0;
	padding: 0;
}
h4{
	color: #000;
}
img  {
	width: 100%;
}
i{
	-webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
p {
	font-size: 14px;
	color: #696969;
}
.generic{
	padding: 60px 0 80px 0;
}
.section-title,.widget-title {
  font-size: 18px;
  padding-bottom: 0.5em;
  position: relative;
}
.section-title {
  font-size: 24px;
  margin-top: 0;
}
.section-title:after,.widget-title:after {
  background-color: #148FEE;
  bottom: -1px;
  content: " ";
  display: block;
  height: 2px;
  left: 3px;
  position: absolute;
  width: 80px;
}
/*******************************  $Header  *******************************/
header {
	background: #FFFFFF;
	width: 100%;
}
header.fixed .top-info {
	height: 0;
	overflow: hidden;
}
header.fixed {
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 450;
	box-shadow: 0 0 4px rgba(0,0,0,0.7);
}
.navbar {
    border: 0 none;
    margin: 0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.navbar-brand {
	padding: 0;
}
.navbar-default {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    min-height: 0;
}
.navbar-nav {
	float: right;
	padding: 20px 0;
}
.navbar-nav > li {
	float: left;
	font-size: 15px;
	margin: 0 0 0 25px;
}

.navbar-nav > li > a {
    padding: 3px 0;
}
/*******************************  $Slider  *******************************/
.slider {
	background: url("../img/slide/slide-01.jpg") no-repeat scroll center transparent;
}
#slider h3 {
	color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 45px;

}
#slider h5{
	line-height: 21px;
}
#slider .contform  h3 {
    font-size: 25px;
    line-height: 37px;
    margin: 15px 0;
    padding-left: 0px;
}
#slider .contform textarea.form-control {
    height: 123px;
}
#slider .contform .btn {
    display: block;
    margin: 40px auto;
    width: 100%;
}
#slider .inner{
	margin: 0 0 50px 0;
}
/*******************************  $Form  *******************************/
label{
	font-size: 15px;
}
.contform {
    background: none repeat scroll 0 0 rgba(76, 76, 76, 0.84);
    padding: 15px 60px 36px 60px;
}
.btn-lg {
    max-width: 100%;
}
.btn-info {
	background-color: #008CD9;
	border-color: #008CD9;
}
.btn {
	border-radius: 3px 3px 3px 3px;
	font-family: 'lato', sans-serif;
	font-weight: 700;
	padding: 23px 38px;
	-webkit-transition: all .3s ease;
     -moz-transition: all .3s ease;
      -ms-transition: all .3s ease;
       -o-transition: all .3s ease;
          transition: all .3s ease;
}
.btn:hover{
	background: #085BC2;
	border-color: #085BC2;
}
.btn-lg {
    border-radius: 3px 3px 3px 3px;
    font-family: 'lato',sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.33;
    padding: 18px 38px;
}
.btn-lg i {
	font-size: 20px;
}
.form-group {
    margin: 20px 0;
}
.input-lg {
    height: 54px;
}
.input-lg {
	border-radius: 0;
    font-size: 18px;
    height: 45px;
    line-height: 1.33;
    padding: 10px 16px;
}
/*******************************  $Gallery  *******************************/
#gallery h4{
	padding: 20px 0;
}
#gallery p{
	line-height: 30px;
	padding: 0 30px 30px 30px;
}
#gallery .content{
	border: 1px solid #E6E6E6;
	margin: 20px 0 20px 0;
}
#gallery .content a{
  padding: 10px 38px;
}
#gallery .content a:last-child{
  float: right;
}

/*******************************  $Partners  *******************************/
#partners .carousel-indicators {
	left: 0;
	margin: 40px auto 0 auto;
	position: relative;
}
.carousel-indicators .active{
	background: #3977c4!important;
	border: 1px solid #3977c4!important;
	height: 10px!important;
	width: 10px!important;
}
#partners .carousel-indicators li{
	background: #BFCBD6;
	border: 1px solid #BFCBD6;
	height: 8px;
    margin: 0 5px;
	width: 8px;
}
/*******************************  $Footer  *******************************/
footer{
	background: #F1F1F1;
	padding: 40px 0;
}
footer h5{
	color: #000;
}
footer .social li a {
  color: #ccc;
}
footer .container li{
	display: inline-block;
}
footer .list-unstyled{
	font-size: 30px;
}
footer .icon-twitter-circled:hover{
	color: #00ABF0;
}
footer .icon-facebook-circled:hover{
	color: #3B589A;
}
footer .icon-pinterest-circled:hover{
	color: #f31d1d;
}
/*******************************  $Tooltip  *******************************/
.tooltip-inner {
	background: #085BC2;
	border-radius: 2px;
	font-weight: bold;
	font-size: 13px;
	opacity: 1;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #085BC2;
}
/*******************************  $Parallax  *******************************/
.parallax {
  background-attachment: fixed;
  background-color: transparent;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.parallax:before {
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.parallax .container {
  position: relative;
  z-index: 2;
}
/**************************** $Video ********************************/
.video {
  background-color: transparent;
  min-height: 624px;
  position: relative;
}
.video .bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.video .bg:before {
  background-color: #666;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  position: absolute;
  top: 0;
  width: 100%;
}
/**************************** $Countdown ********************************/
.slider-countdown {
	background: url("../img/slide/slide02.jpg") no-repeat scroll center top transparent;
  height: 750px;
}
.countdown h2{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 2px;
}
.separator{
	padding: 140px 0 60px 0;
}
/**************************** $Newsletter ********************************/
.newsletter {
	background: #004080;
	padding: 3% 0;
}
.newsletter .form-control{
	border-radius: 0;
	height: 49px;
}
.newsletter .fields h3 {
	color: #fff;
	font-size: 1.66em;
  padding: 10px 10px;
  line-height: 1;
	margin: 0;
}
.newsletter .fields input.btn {
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  border: 0;
  border-radius: 2px;
  padding: 15px 20px 15px 20px;
  margin: 0;
  vertical-align: top;
  width: auto;
  height: auto;
}
.btn {
	box-shadow: none;
}
.newsletter .fields input.btn:hover {
	background: rgba(0, 0, 0, 0.6);
}
.newsletter .fields input.form-control{
	width: 50%;
	float: left;
  margin-right: 2%;
}
/**************************** $Gmap ********************************/
.map {
  height: 600px;
  width: 100%;
}
/*******************************  $Animate Itemas on Start  *******************************/
.animated {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
/*****************************  $Menu Effect  ******************************/
.menu-effect li a {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -ms-transition: color 0.3s;
  transition: color 0.3s;
}
.menu-effect li a:before {
  color: transparent;
  content: '•';
  font-size: 0.7em;
  left: 50%;
  margin-top: -5px;
  pointer-events: none;
  position: absolute;
  text-shadow: 0 0 transparent;
  top: 100%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  -o-transition: text-shadow 0.3s, color 0.3s;
  -ms-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
}
.menu-effect li.active a,
.menu-effect li a:hover,
.menu-effect li a:focus {
  color: #148FEE;
}
.menu-effect li.active a::before,
.menu-effect li a:hover::before,
.menu-effect li a:focus::before {
  color: #148FEE;
  text-shadow: 10px 0 #148FEE, -10px 0 #148FEE;
}
.maincopy{
  margin-top: 12%;
  margin-left: 5%;
  text-align: center;
}
.maincopy h2{
  color: #FFF;
  font-size: 300%;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
  text-transform: uppercase;
}
.gracias .maincopy{
  margin-top: 0;
}
.gracias .contform{
  height: 316px;
}
#slider{
  position: relative;
}
#accordion p{
  padding-bottom: 0px;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 16px;
}
#accordion .panel-collapse p:first-child{
  margin-top: 20px;
}
#accordion .panel-collapse p:last-child{
  margin-bottom: 20px;
}

.ficha li{
  color: #696969;
}
.titulos-actuales th{
  color: #696969;
  font-weight: bolder;
}
.titulos-actuales td{
  color: #696969;
}
h3{
  color: #696969;
  font-weight: bolder;
  font-size: 12px;
}
.proyecto-head > div,
.proyecto-body > div{
  padding: 0;
  text-align: center;
  border-left: solid 1px #696969;
  border-top: solid 1px #696969;
}
.proyecto-head > div:last-child,
.proyecto-body > div:last-child{
  border-right: solid 1px #696969;
}
.proyecto-body > div{
  border-bottom: solid 1px #696969;
}
.Comprar a{
  padding: 2px 0px;
  width: 100%;
}
.proyecto-body div{
  height: 32px;
}
.proyecto-body p{
  margin: 0;
}
.proyecto-head > div:last-child > *{
  visibility: hidden;
}
.imagen-proyecto{
  margin-bottom: 3%;
}
.nuevo-titulo{
  text-align: center;
  margin-top: 20px;
}
.nuevo-titulo p{
  font-size: 120%;
}
.interna h1,
.icon-lock{
  color: #696969;
  text-align: center;
}
#compra-venta{
  margin-top: 4%;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.vender-titulo h1{
  margin-bottom: 5%;
}
.vender-banners img{
  margin-bottom: 2%;
}