{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Registrarse en Mercatitulo{% endblock %}
<script src="http://cloud.github.com/downloads/digitalBush/jquery.maskedinput/jquery.maskedinput-1.3.js" type="text/javascript"></script>

{% block content %}
	
	<div class="container interna">
	<h1>Gracias por publicar tu derecho fiduciario con Mercatítulo</h1>
		<h2>Por favor revisa tu correo, acabamos de enviarte un enlace para verificar tu usuario.</h2>
		<a href="/" class="col-lg-12 btn btn-info btn-lg">Ir a la página de inicio</a>
	</div>
{% endblock %}
