{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Registrarse en Mercatitulo{% endblock %}
<script src="http://cloud.github.com/downloads/digitalBush/jquery.maskedinput/jquery.maskedinput-1.3.js" type="text/javascript"></script>

{% block content %}
	<div class="container interna">
		<h1>Registro de Usuario</h1>
		<h2>Antes de publicar tu derecho fiduciario, necesitamos tus datos personales.</h2>
		<div class="vender-form col-sm-8">
			<form id="formulario" method="post" action="">
				{% csrf_token %}
				{{templateData.formularioUsuario.as_p}}
				{{templateData.formularioVendedor.as_p}}
				<p class="check terminoscondiciones">
					<input type="checkbox" name="vehicle" value="Car" checked required> Certifico que estoy legalmente facultado para vender este título<br>
					<input type="checkbox" name="vehicle" value="Car" checked required> Autorización para uso de datos personales<br>
				</p>					
				<div class="row">
					<div class="columns small-12 u-inlineCenter">
						<input type="submit" id="payment-submit" class="btn-Green btn--big btn--responsive Payment-submit" value="Publicar Derecho Fiduciario">
						<span class="icon-lock Payment-security">Servidor seguro</span>
					</div>
				</div>
			</form>
		</div>
		<div class="vender-banners col-sm-4">
			<img src="{% static "img/banner1.jpg" %}" alt="" />
			<img src="{% static "img/banner2.jpg" %}" alt="" />
			<img src="{% static "img/banner3.jpg" %}" alt="" />
		</div>		
	</div>
{% endblock %}
