{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
	<html lang="en">
	  <head>
	  	<!-- Define Charset -->
	    <meta charset="utf-8">
	    <meta name="google-site-verification" content="5uV_aKPvgohDGh16pyIeL0e6Dm-AD33hjwJmt3OL1xQ" />
	    <!-- Page Title -->
	    <title>{% block title %} - Mercatitulo{% endblock title %}</title>

	    <!-- Responsive Metatag -->
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="Compra y vende derechos fiduciarios de los mejores proyectos inmobiliarios en Colombia">
		<!-- fontello -->
	    <!--[if IE 7 ]><link href="css/fonts/fontello-ie7.css" rel="stylesheet" type="text/css" media="screen" /><![endif]-->
	    <link rel="stylesheet" href="{% static "css/fonts/fontello.css" %}" type="text/css" media="screen">
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- custom style -->
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />
		<link href="{% static "css/media-queries.css" %}" rel="stylesheet" type="text/css" media="screen" />
		<!-- Animate -->
		<link rel="stylesheet" href="{% static "css/fonts/animate.css" %}">
		<link rel="alternate" hreflang="es" href="http://mercatitulo.com/" />

	    <!-- HTML5 shim, for IE6-8 support of HTML5 elements --><!--[if lt IE 8]><script src="js/html5shiv.js"></script><![endif]-->

	  </head>

	  <body id="top">

		<!-- Header-->
		<header>
			<div class="container">
				<nav class="navbar navbar-default" role="navigation">
				  <!-- Brand and toggle get grouped for better mobile display -->
				  <div class="navbar-header">
				    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				      <span class="sr-only">Toggle navigation</span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				      <span class="icon-bar"></span>
				    </button>
				    <a id="logo" class="navbar-brand" href="/"><img src="{% static "img/logo.png" %}" alt="My Brand" /></a>
				  </div>
				  <!-- Collect the nav links, forms, and other content for toggling -->
				  <div class="collapse navbar-collapse navbar-ex1-collapse">
				    <ul class="nav navbar-nav menu-effect">
		              <li><a href="/" class="anchor">Inicio</a></li>
		              <li><a href="#" class="anchor">Nuevos proyectos</a></li>
					  <li><a href="#" class="anchor">Derechos fiduciarios en el mercado</a></li>		              
		              <li><a href="/derechos-fiduciarios" class="anchor">Derechos Fiduciarios</a></li>
					  <li><a href="tel:+57315-2298160" class="anchor">Contactanos <i class="icon-phone"></i>+57 315-2298160</a></li>
				    </ul>
				  </div><!-- /.navbar-collapse -->
				</nav>
			</div>
	    </header>
	    <!-- End Header-->
	    {% block content %}{% endblock content %}
        <section id="partners">
            <div class="container">
                <div class="row">
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">

                    <div class="item active  animated" data-animation="flipInX" data-animation-delay="200">
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/1.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/2.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/3.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/4.png" %}" alt="logo">
                            </div>
                        </div>
                    </div>

                    <div class="item  animated" data-animation="flipInX" data-animation-delay="200">
                      <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/1.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/2.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/3.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/4.png" %}" alt="logo">
                            </div>
                        </div>
                    </div>

                    <div class="item  animated" data-animation="flipInX" data-animation-delay="200">
                      <div class="row">
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/1.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/2.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/3.png" %}" alt="logo">
                            </div>
                            <div class="col-sm-3">
                                <img src="{% static "img/partners/4.png" %}" alt="logo">
                            </div>
                        </div>
                    </div>

                  </div>
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                </div>
            </div>
            </div>
        </section>
    	<footer id="contact">
    		<div class="container">
    			<div class="row">
    				<div class="col-sm-6 text-left">
    					<h5>Copyright 2015. Mercatítulo SAS. Todos los derechos reservados.</h5>
    				</div>
    				<div class="col-sm-6 text-right">
	    				<ul class="social list-unstyled">
						<li><a href="https://twitter.com/mercatitulo" title="Twitter" class="animated" data-animation="flipInY" data-animation-delay="400"><i class="icon-twitter-circled"></i></a></li>
						<li><a href="https://www.facebook.com/mercatitulo/?ref=hl" title="Facebook" class="animated" data-animation="flipInY" data-animation-delay="800"><i class="icon-facebook-circled"></i></a></li>
						<li><a href="mailto:info@mercatitulo.com" title="Email" class="animated" data-animation="flipInY" data-animation-delay="1200"><i class="icon-mail"></i></a></li>
					</ul>
    				</div>
    			</div>
    		</div>
    	</footer>


    <!-- ======================= JQuery libs =============================== -->

		<!-- JQuery -->
		<script src="{% static "js/jquery.min.js" %}"></script>

		<!-- Bootstrap-->
	    <script src="{% static "js/bootstrap.js" %}"></script>

	    <!-- Appear -->
		<script src="{% static "js/vendors/jquery/jquery.appear.js" %}"></script>

	    <!-- bgYtVideo -->
		<script src="{% static "js/vendors/jquery.bgYtVideo.js" %}"></script>

		<!-- Gmaps -->
		<script src="http://maps.google.com/maps/api/js?sensor=true" ></script>
		<script src="{% static "js/vendors/gmaps.js" %}"></script>

		<!-- Clock -->
	    <script src="{% static "js/clock/jquery.js" %}"></script>
	    <script src="{% static "js/clock/modernizr-2.js" %}"></script>
	    <script src="{% static "js/clock/main.js" %}"></script>
		
		<!-- Slider-->
		<script src="{% static "js/vendors/responsiveslides.min.js" %}"></script>
		
		<!-- Percentages field-->
		<script src="{% static "js/vendors/autoNumeric.min.js" %}"></script>
		
	    <!-- Custom js-->
	    <script src="{% static "js/jquery-func.js" %}"></script>

    <!-- ======================= End JQuery libs =========================== -->

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M2MJ8W"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M2MJ8W');</script>
	<!-- End Google Tag Manager -->
	<!-- Hotjar Tracking Code for www.mercatitulo.com -->
	<script>
	    (function(h,o,t,j,a,r){
	        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
	        h._hjSettings={hjid:97033,hjsv:5};
	        a=o.getElementsByTagName('head')[0];
	        r=o.createElement('script');r.async=1;
	        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
	        a.appendChild(r);
	    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

  </body>
</html>
