{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}{{ proyectoData.proyectos.nombre }} - Mercatitulo{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-sm-8">
			<h2>{{ proyectoData.proyectos.nombre }}</h2>
			<div class="imagen-proyecto">
				<img src="{{ proyectoData.proyectos.imagen.url }}">
			</div>
			<p>{{ proyectoData.proyectos.descripcion }}</p>
			<h2>Títulos disponibles:</h2>
			{% if proyectoData.titulos %}
			<div class="container">
				<div class="proyecto-head">
					<div class="tipoTitulo col-sm-2">
						<h3>Tipo</h3>
					</div>
					<div class="rentabilidad col-sm-2">
						<h3>Rentabilidad</h3>
					</div>
					<div class="precio col-sm-2">
						<h3>Precio</h3>
					</div>
					<div class="negociable col-sm-2">
						<h3>Negociable</h3>
					</div>
					<div class="Comprar col-sm-2">
						<h3>Leer más</h3>
					</div>
					<div class="Comprar col-sm-2">
						<h3>Comprar</h3>
					</div>
				</div>
				{% for titulos in proyectoData.titulos %}
					<div class="proyecto-body">
						<div class="tipoTitulo col-sm-2">
							<p>{{ titulos.tipoInmueble }}</p>
						</div>
						<div class="rentabilidad col-sm-2">
							<p>{{ titulos.rentabilidad|mul:10 }}%</p>
						</div>
						<div class="precio col-sm-2">
							<p>${{ titulos.precio_venta|floatformat:0|intcomma }}</p>
						</div>
						<div class="negociable col-sm-2">
							{% if titulos.negociable %}
								<p>Si</p>
							{% else %}
								<p>No</p>
							{% endif %}
						</div>
						<div class="Comprar col-sm-2">
							<a class="btn btn-info" href="{{ titulos.id }}"> Leer Más</a>
						</div>
						<div class="Comprar col-sm-2">
							{% if titulos.negociable %}
								<a class="btn btn-info" href="/comprar/1">Ofertar</a>
							{% else %}
								<a class="btn btn-info" href="/comprar/1">Comprar</a>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="nuevo-titulo alert alert-info" role="alert">
					<p>¿Tienes un derecho fiduciario para la venta? <br><a href="/vender/vender-derecho-fiduciario">Vende aquí tu Derecho Fiduciario</a></p>
				</div>
			{% else %}
				<div class="nuevo-titulo alert alert-info" role="alert">
					<p>¿Tienes un derecho fiduciario para la venta? <br><a href="/vender/vender-derecho-fiduciario">Vende aquí tu Derecho Fiduciario</a></p>
				</div>
      		{% endif %}
		</div>
		<div class="col-sm-4">
			<div class="ficha">
				<h2>Ficha técnica del proyecto:</h2>
				<ul>
					<li><strong>Promotor:</strong> {{ proyectoData.proyectos.promotor }}</li>
					<li><strong>Fiduciaria:</strong> {{ proyectoData.proyectos.fiduciaria }}</li>
					<li><strong>Cantidad de títulos:</strong> {{ proyectoData.proyectos.cantidadTotal }}</li>
					<li><strong>Ubicación:</strong> {{ proyectoData.proyectos.ubicacion }}</li>
					<li><strong>Promotor:</strong> {{ proyectoData.proyectos.promotor }}</li>
					<li><strong>Fideicomiso Administrado por:</strong> {{ proyectoData.proyectos.fiduciaria }}</li>
					{% if proyectoData.proyectos.operado %}
						<li><strong>Operado por:</strong> {{ proyectoData.proyectos.operado }}</li>
					{% endif %}
				</ul>
			</div>
			<div class="ficha-slider">
				<ul class="rslides">
				  <li><img src="http://lorempixel.com/400/200/business" alt=""></li>
				  <li><img src="http://lorempixel.com/400/200/technics" alt=""></li>
				  <li><img src="http://lorempixel.com/400/200/sports/" alt=""></li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
