{% extends 'base.html' %}
{% load staticfiles %}
{% load mathfilters %}
{% load humanize %}
{% block title %}Mercatitulo{% endblock %}

{% block content %}
	<div class="container">
		<div class="col-sm-8">
			<h2>{{ data.proyecto }}</h2>
			<div class="imagen-proyecto">
				<img src="{{ data.proyecto.imagen.url }}">
			</div>			
			<div class="comprar-titulo">
				{% if data.titulo.negociable %}
					<a href="/comprar/{{ data.titulo.id }}" class="col-lg-12 btn btn-info btn-lg">Ofertar</a>
				{% else %}
					<a href="/comprar/{{ data.titulo.id }}" class="col-lg-12 btn btn-info btn-lg">Comprar</a>
				{% endif %}													
			</div>
			
			<p>{{ data.titulo.descripcion }}</p>	
			<p><strong>Tipo titulo:</strong> {{ data.titulo.tipoTitulo }}</p>
			<p><strong>Tipo inmueble:</strong> {{ data.titulo.tipoInmueble }}</p>
			<p><strong>Precio de venta:</strong> ${{ data.titulo.precio_venta|floatformat:0|intcomma }}</p>
			{% if data.titulo.negociable %}
				<p><strong>Negociable:</strong> Si</p>
			{% else %}
				<p><strong>Negociable:</strong> No</p>
			{% endif %}			
			<div class="rentabilidad-table">
				<div class="rent-title-wrapper row">
					<div class="rent-title col-sm-5">
						<h2>Rentabilidad</h2>
					</div>
					<div class="rent-value-title col-sm-3">
						<h2>Valor</h2>
					</div>					
				</div>
				<div class="rent-title-content row">
					<div class="rent-title-row col-sm-5">
						<p>Rentabilidad último año</p>
					</div>
					<div class="rent-value-title-row col-sm-3">
						<p>{{ data.titulo.rentabilidad|mul:1 }}%</p>
					</div>					
				</div>	
				{% if titulos.rentabilidad_year_1 %}
					<div class="rent-title-content row">
						<div class="rent-title-row col-sm-5">
							<p>Rentabilidad primer año</p>
						</div>
						<div class="rent-value-title-row col-sm-3">
							<p>{{ data.titulo.rentabilidad_year_1|mul:1 }}%</p>
						</div>					
					</div>						
				{% endif %}		
				{% if titulos.rentabilidad_year_2 %}
					<div class="rent-title-content row">
						<div class="rent-title-row col-sm-5">
							<p>Rentabilidad segundo año</p>
						</div>
						<div class="rent-value-title-row col-sm-3">
							<p>{{ data.titulo.rentabilidad_year_2|mul:1 }}%</p>
						</div>					
					</div>						
				{% endif %}	
				{% if titulos.rentabilidad_year_3 %}
					<div class="rent-title-content row">
						<div class="rent-title-row col-sm-5">
							<p>Rentabilidad tercer año</p>
						</div>
						<div class="rent-value-title-row col-sm-3">
							<p>{{ data.titulo.rentabilidad_year_3|mul:1 }}%</p>
						</div>					
					</div>						
				{% endif %}	
				{% if titulos.rentabilidad_year_4 %}
					<div class="rent-title-content row">
						<div class="rent-title-row col-sm-5">
							<p>Rentabilidad cuarto año</p>
						</div>
						<div class="rent-value-title-row col-sm-3">
							<p>{{ data.titulo.rentabilidad_year_4|mul:1 }}%</p>
						</div>					
					</div>						
				{% endif %}	
															

			</div>
		</div>
		<div class="col-sm-4">
			<div class="ficha">
				<h2>Ficha técnica del proyecto:</h2>
				<ul>
					<li><strong>Promotor:</strong> {{ data.proyecto.promotor }}</li>
					<li><strong>Fiduciaria:</strong> {{ data.proyecto.fiduciaria }}</li>
					<li><strong>Cantidad de títulos:</strong> {{ data.proyecto.cantidadTotal }}</li>
					<li><strong>Ubicación:</strong> {{ data.proyecto.ubicacion }}</li>
					<li><strong>Promotor:</strong> {{ data.proyecto.promotor }}</li>
					<li><strong>Fideicomiso Administrado por:</strong> {{ data.proyecto.fiduciaria }}</li>
					{% if data.proyecto.operado %}
						<li><strong>Operado por:</strong> {{ data.proyecto.operado }}</li>
					{% endif %}						
				</ul>
			</div>
			<div class="ficha-slider">
				<ul class="rslides">
				  <li><img src="http://lorempixel.com/400/200/business" alt=""></li>				  
				  <li><img src="http://lorempixel.com/400/200/technics" alt=""></li>
				  <li><img src="http://lorempixel.com/400/200/sports/" alt=""></li>
				</ul>			
			</div>
		</div>		
	</div>
{% endblock %}